body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
}

.modal-hidden .modal-backdrop {
  display: none;
}

/* Header */
.item-header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.item-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* Phần Dropdown lọc */
.item-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.item-form-select {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

/* Form modal (thêm mới, cập nhật) */
.item-modal-update {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.item-modal-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.item-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item-flex-row {
  flex: 1;
  text-align: left;
}

.item-flex-row-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-input-group {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 15px;
}

.item-input-group-text {
  font-weight: bold;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

.item-form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.item-btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.item-btn-primary:hover {
  background-color: #0056b3;
}

.item-btn-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.item-btn-secondary:hover {
  background-color: #5a6268;
}

/* Nút thêm sản phẩm */
.item-btn-add {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #28a745;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.item-btn-add:hover {
  background-color: #218838;
}

.item-btn-add i {
  font-size: 30px;
}

/* Bảng sản phẩm */
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.item-table th,
.item-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.item-table th {
  background-color: #2c3e50;
  color: white;
}

.item-table td {
  max-width: 110px;
  /* Đặt chiều rộng tối đa cho các cột */
  white-space: nowrap;
  /* Ngăn cản việc xuống dòng */
  overflow: hidden;
  /* Cắt bỏ phần nội dung thừa */
  text-overflow: ellipsis;
  /* Hiển thị ba dấu chấm khi văn bản quá dài */
  word-wrap: break-word;
  /* Đảm bảo không có từ nào bị cắt đứt */
  background-color: #fff;
}

.item-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.item-table td img {
  border-radius: 4px;
}

/* Các thành phần khác */
.item-table td button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.item-table td button:hover {
  opacity: 0.8;
}

.item-btn-primary {
  background-color: #007bff;
  color: white;
}

.item-btn-secondary {
  background-color: #dc3545;
  color: white;
}

.item-btn-primary:hover {
  background-color: #0056b3;
}

.item-btn-secondary:hover {
  background-color: #c82333;
}

/* Responsive */
@media (max-width: 768px) {
  .item-container {
    padding: 15px;
  }

  .item-flex-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-input-group {
    width: 100%;
    margin-bottom: 10px;
  }

  .item-form-select,
  .item-form-control {
    width: 100%;
  }

  .item-btn-add {
    width: 50px;
    height: 50px;
  }

  .item-table th,
  .item-table td {
    font-size: 12px;
  }

  .item-table td button {
    font-size: 12px;
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}